body {
    background-color: #ECDCBF;
    color: #D84040;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: #A31D1D;
    color: #F8F2DE;

    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
}

h1 {
    margin-left: 40px;
    margin-right: 290px;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #F8F2DE;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
    color: #ECDCBF;
}

nav a {
    margin-left: 10px;
    margin-right: 10px;
    
}

.socials {
    height: 25px;
    margin-right: 20px;
}

#homepfp {
    width: 35%;
    float: left;
}

#introduction {
    font-size: 50px;
    width: 60%;
    float: right;
}

#introduction a {
    font-size: 30px;
    color: #D84040;
    text-decoration: underline;
}

span {
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
}

#aboutpfp {
    width: 50%;
    float: left;
}

#description {
    font-size: 25px;
    width: 45%;
    float: right;
    margin-right: 30px;
}

form {
    margin-left: 550px;
    font-size: 25px;
}

input {
    width: 390px;
}
.buttons {
    color: #D84040;
    font-size: 25px;
    width: 100px;
}

section {
    margin-left: 60px;
    margin-top: 45px;
}

section h3 {
    margin-top: 30px;
}

#TrafficLight {
    margin-top: 50px;
    margin-left: 50px;
}

#TrafficLight img {
    float: left;
    width: 30%;
}

#TrafficLight div {
    float: right;
    width: 60%;
    font-size: 20px;
    margin-right: 100px;
}

#TrafficLight a {
    text-decoration: underline;
    color: #D84040;
}

footer {
    clear: both;
    text-align: center;
    margin-top: 50px;
}